.image-carousel-large-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .image-carousel {
    width: 100%;

    &-slide-landscape {
      width: 100%;
      display: block;
      @include responsive(desktop) {
        display: none;
      }
    }

    &-slide-potrait {
      width: 37.5vw;
      height: 58.5%;
      display: none;
      @include responsive(desktop) {
        display: block;
      }
    }
  }
}
