.image-carousel {

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &-container {
    //TODO: widescreen styles;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include responsive(tablet) {
      flex-direction: column-reverse;
      margin-bottom: 0rem;
    }
  }

  &-divider {
    width: 100%;
    background-color: #383b4b !important;
    color: #383b4b !important;
    height: 1px;

    @include responsive(tablet) {
      display: none;
    }
  }

  &-slide {
    width: 17.7rem;
    height: 22.2rem;

    @include responsive(tablet){
      width: 59.42%;
      height: 55.85%;
    }
  }

  
}
