.subnav {
  width: fit-content;
  a {
    @extend .text-nav-link;
    font-weight: 400;
    font-size: 1.4rem;

    &:not(:last-child) {
      margin-right: 2.5rem;

      @include responsive(tablet) {
        margin-right: 3.6rem;
      }
    }

    @include responsive(desktop){
      font-size: 1.6rem;
      padding: 1rem;
    }

    &:hover {
      border-bottom: $BOTTOM_BORDER solid $color-grey;
    }
  }
}
