@mixin responsive($breakpoint) {
  //only to be used when necessary
  @if $breakpoint == default {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (min-width: 768px) {
      // from 768px
      @content;
    }
  }

  @if $breakpoint == desktop {
    // from 1440px
    @media only screen and (min-width: 1440px) {
      @content;
    }
  }
}

@mixin page-background-image($mobile, $tablet, $desktop) {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url($mobile);
  @include responsive(tablet) {
    background-image: url($tablet);
  }
  @include responsive(desktop) {
    background-image: url($desktop);
  }
}
