.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt-24 {
  margin-top: 2.4rem;
}

.mb-24 {
  margin-bottom: 2.4rem;
}

.my-24 {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

.my-16{
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.container__expanded-y {
  display: flex;
  flex-direction: column;
}

.page-title-container {
  text-align: center;
  @include responsive(tablet) {
    text-align: start;
  }
}

.d-block {
  display: block;
}
