$primary-text: "Bellefair", serif;
$secondary-text: "Barlow Condensed", sans-serif;
$secondary-text-regular : 'Barlow', sans-serif;

h1 {
  font-family: $primary-text;
  font-size: 8rem;
  text-transform: uppercase;
  font-weight: 400;
}

h2 {
  font-family: $primary-text;
  // font-size: 10rem;
  font-size: 5.6rem;
  text-transform: uppercase;
}

h3 {
  font-family: $primary-text;
  // font-size: 5.6rem;
  font-size: 2.8rem;
  text-transform: uppercase;
}

h4 {
  font-family: $primary-text;
  font-size: 2rem;
  text-transform: uppercase;
}

.text-heading-h5,
h5 {
  font-family: $secondary-text;
  font-size: 1.6rem;
  letter-spacing: 0.475rem;
  text-transform: uppercase;
  color: $color-purple;
}

.text-subheading1 {
  font-family: $primary-text;
  font-size: 2.8rem;
}

.text-subheading2 {
  font-family: $secondary-text;
  font-size: 1.4rem;
  letter-spacing: 0.235rem;
}

.text-nav {
  font-family: $secondary-text;
  font-size: 1.6rem;
  letter-spacing: 0.27rem;
}

.text-nav-link {
  color: $color-white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $secondary-text;
}

p {
  font-size: 1.5rem;
}

.text-color__white {
  color: white;
}

.text-color__black {
  color: black;
}

.text-color__blue-grey {
  color: $color-blue-gray;
}

.text-color__purple{
  color: $color-purple;
}

.text-font {
  &__700{
    font-weight: 700;
  }
  
  &__400 {
    font-weight: 400;
  }
}

.text-case__upper {
  text-transform: uppercase;
}

.text-case__normal {
  text-transform: none;
}
